<a href="https://colab.research.google.com/github/cg-mitun-akil/AI_bot/blob/main/DunderMifflin_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = {
    'name' : [],
    'line' : []
}

In [ ]:
office_lines = pd.read_excel('/content/drive/MyDrive/DunderMifflin/the-office-lines.xlsx')

In [ ]:
office_lines.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [ ]:
parent_reply = pd.read_csv('/content/drive/MyDrive/DunderMifflin/parent_reply.csv')

In [ ]:
parent_reply.head()

,parent_id,parent,reply,character
0,0,"Oh, I told you. I couldn’t close it. So…",So you’ve come to the master for guidance? Is ...,Michael
1,1,"Actually, you called me in here, but yeah.","All right. Well, let me show you how it’s done.",Michael
2,2,Well. I don’t know.,"If you think she’s cute now, you should have s...",Michael
3,3,What?,Any messages?,Michael
4,4,"Uh, yeah. Just a fax.","Oh! Pam, this is from Corporate. How many time...",Michael

In [ ]:
office_lines = office_lines[['line_text','speaker']]
office_lines.rename(columns = {'line_text':'line'}, inplace = True)
office_lines.rename(columns = {'speaker':'name'}, inplace = True)

In [ ]:
office_lines.head()

                                                line     name
0  All right Jim. Your quarterlies look very good...  Michael
1         Oh, I told you. I couldn't close it. So...      Jim
2  So you've come to the master for guidance? Is ...  Michael
3         Actually, you called me in here, but yeah.      Jim
4    All right. Well, let me show you how it's done.  Michael

In [ ]:
sum( office_lines['name'] == 'Michael' )

12137

In [ ]:
len( office_lines )

59909

In [ ]:
office_lines.to_csv('Office.csv', index = False )